body {
  width: 100%;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.IconContainer {
  position: absolute;
  bottom: 0vh;
  left: 0.1vh;
}

.BaseCircle {
  position: relative;
  width: 4vh !important;
  height: 4vh !important;
  float: left;
  margin: 0.3vh;
  border-radius: 50%;
  background: rgb(49, 49, 49);
}

.fa-heart,
.fa-shield-alt,
.fa-hamburger,
.fa-skull {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1.2vh;
  bottom: 1.2vh;
}

.fa-brain {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1.1vh;
  bottom: 1.2vh;
}

.fa-lungs {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1vh;
  bottom: 1.3vh;
}

.fa-tint {
  color: white;
  position: absolute;
  font-size: 1.6vh;
  left: 1.5vh;
  bottom: 1.2vh;
}

#SpeedIndicator {
  color: white;
  position: absolute;
  font-size: 5vh;
  left: 24vh;
  bottom: 0.8vh;
  text-shadow: 0.2vh 0.2vh 0vh rgb(22, 22, 22);
}

#GearIndicator {
  opacity: 0.5;
  position: absolute;
  font-size: 2vh;
  left: 22vh;
  bottom: 3.4vh;
  text-shadow: 0.1vh 0.1vh 0vh rgb(22, 22, 22);
}

.flash {
  -webkit-animation: flash 1s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
