body {
  margin: 0;
}

img {
  width: 100%;
}

#Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: none;
  flex-direction: column;
}

#IconsContainer {
  margin-top: auto;
}

#Icons {
  display: flex;
  gap: 20px;
  margin: 20px 50px;
}

.Icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(50, 50, 50);
  display: none;
}

.Icon i {
  color: white;
  position: absolute;
  font-size: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Customisations */

#SpeedIcon:not(.fa-tachometer-alt) {
  font-family: sans-serif;
  font-size: 18px;
}

#ID {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.outerIcon {
  color: #fff;
  font-size: 1.2rem;
  height: 50px;
  text-shadow: 1px 1px 10px #000;
  text-align: center;
  line-height: 50px;
  display: none;
}

/* Logo */

#Logo {
  position: absolute;
  top: 20px;
  right: 40px;
  max-width: 128px;
  opacity: 0.8;
  display: none;
}

/* Animations */

.flash {
  -webkit-animation: flash 1s;
  animation: flash 1s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
